// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #3F0050;
$darkPrimary: #3F0050;
$hover: #ccc;
$secondary: #22B173;
$gray: #ccc;
$white: #ffffff;;
$warning: #e0a800;
$danger: #f7786b;
$textBlue: #007bff;